<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ifinances</property>
        <property name="connection.username">infinite</property>
        <property name="connection.password">skills</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="com.infiniteskills.data.entities.User"/>
		<mapping class="com.infiniteskills.data.entities.Bank"/>
		<mapping class="com.infiniteskills.data.entities.Credential"/>
		<mapping class="com.infiniteskills.data.entities.Account"/>
		<mapping class="com.infiniteskills.data.entities.Transaction"/>
		<mapping class="com.infiniteskills.data.entities.Budget"/>
    </session-factory>


</hibernate-configuration>